.alert-in-nav {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.25rem .75rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger-in-nav {
  background-color: #E74C3C;
}
