<form [formGroup]="form" class="form-inline">
  <div class="form-group">
    <div *ngIf="username.touched && username.invalid" class="alert-in-nav alert-danger-in-nav mr-3">
      <div *ngIf="username.errors['required']">A Username is required.</div>
      <div *ngIf="username.errors['minlength']">
        Username must be a minimum of {{ username.errors['minlength'].requiredLength}} characters.
      </div>
    </div>
    <div *ngIf="!username.invalid && password.touched && password.invalid" class="alert-in-nav alert-danger-in-nav mr-3">
      A Password is required.
    </div>
    <div class="col-sm">
      <label class="mr-1" for="username">Username
        <input formControlName="username" id="username" type="text" class="form-control ml-1">
      </label>
    </div>
    <div class="col-sm">
      <label for="password">Password
        <input formControlName="password" id="password" type="text" class="form-control ml-1">
      </label>
    </div>
    <div class="col-sm">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-secondary form-control" type="submit">Login</button>
        <button class="btn btn-secondary form-control ml-1" type="submit">Sign Up</button>
      </div>
    </div>
  </div>
</form>
