<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/Home" (click)="activePage='Home'">{{title}}</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [ngClass]="{'active': activePage===linkObj.link}" [ngSwitch]="activePage" *ngFor="let linkObj of linksObj">
        <a class="nav-link" routerLink="/{{linkObj.link}}" (click)="activePage=linkObj.link" *ngSwitchCase="'linkObj.link'">
          {{linkObj.desc}}<span class="sr-only">(current)</span>
        </a>
        <a class="nav-link" routerLink="/{{linkObj.link}}" (click)="activePage=linkObj.link" *ngSwitchDefault>
          {{linkObj.desc}}
        </a>
      </li>
    </ul>

    <app-signup-form></app-signup-form>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
