<div class="jumbotron">
  <h1 class="display-3">List of Skills</h1>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let type of skillTypes">
    <a class="nav-link" [ngClass]="{'active': type==='Networking', 'show': type==='Networking'}"
    data-toggle="tab" href="#{{type}}">{{type}}</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade" [ngClass]="{'active': obj.type==='Networking', 'show': obj.type==='Networking'}"
  [id]="obj.type" *ngFor="let obj of skillObjs">
    <div class="row" *ngIf="obj">
      <div class="col-md-3 list-group-item d-flex justify-content-between align-items-center" *ngFor="let skill of obj?.skills">
        <span class="badge-pill badge-primary">{{skill?.name}}</span>
        <app-like
          [likesCount]="skill.likesCount"
          [isActive]="false"
          [octColor2]="'gray'"
        ></app-like> <!-- [isLiked]="false", replace false with user.isLiked status eventually -->
      </div> 
    </div>
  </div>
</div>

<!-- <app-messages></app-messages> -->
