<span
  appOcticon="thumbsup"
  color="{{ octColor2 }}"
  active="{{ isActive }}"
  width="16"
  (click)="onClick()"
>
</span>

<!-- <img src="node_modules/open-iconic/svg/thumb-up.svg" (click)="onClick()"
  class="like" [ngClass]="{'opacity': !isActive}"
> -->

<span>&emsp;{{ likesCount }}</span>
