<form #f="ngForm" (ngSubmit)="submit(f)" action="">
  <div #contact="ngModelGroup" ngModelGroup="contact">
    <div *ngIf="!contact.valid && contact.touched">Add Validation Errors here.</div>
    <div class="row">
      <div class="form-group {{obj.colClass}}" *ngFor="let obj of fieldsObjs1">
        <div *ngIf="obj">
          <label [for]="obj.fieldID">{{obj.labelContent}}</label>
          <input [required]="obj.required" [minlength]="obj.minLength" [maxLength]="obj.maxLength" ngModel [name]="obj.fieldID"
            [id]="obj.fieldID" #fC="ngModel" (change)="log(fC)" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="fC.touched && !fC.valid">
            <div *ngIf="fC?.errors.required">{{obj.labelContent}} is required.</div>
            <div *ngIf="fC?.errors.minlength">
              {{obj.labelContent}} should be minimum of {{fC?.errors.minlength.requiredLength}} characters.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed"> Subscribe to mailing list.
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <!-- <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control"> -->
      <option selected disabled hidden value="">Please select a contact method...</option>
      <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
    </select>
  </div>
  <div *ngFor="let method of contactMethods" class="radio">
    <label for="">
      <input type="radio" ngModel name="contactMethod" [value]="method.id">
      {{ method.name }}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button [disabled]="!f.valid" class="btn btn-primary">Submit</button>
</form>
